<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865271499615-uj67lk9k9enbgqe0dgj7qam5a986hbj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865271499615-uj67lk9k9enbgqe0dgj7qam5a986hbj9</string>
	<key>API_KEY</key>
	<string>AIzaSyBtaSUoyXQwAvOgDFXPFtPJ25xe2fSHCLI</string>
	<key>GCM_SENDER_ID</key>
	<string>865271499615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>erdalkeser.AdoptAPet</string>
	<key>PROJECT_ID</key>
	<string>adoptapet-b01ec</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptapet-b01ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865271499615:ios:b63374f152378f7c5b44ea</string>
</dict>
</plist>